<div *ngIf="userImage">
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-8 mb-md-0 p-md-4">
      <img class="usr-img-details w-100" src="{{userImage.s3ThumbPath}}" />
    </div>
    <div class="col-md-4 position-static p-4 pl-md-0">
      <ul class="list-group">
        <li class="list-group-item">Details</li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <div class="detail-text">
                <span class="material-icons">today</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="detail-text">
                {{userImage.metaData.ExifDTOrig}}
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <div class="detail-text">
                <span class="material-icons">image</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="detail-text">
                  {{userImage.origImageName}}
                </div>
              </div>
              <div class="row">
                <div class="detail-text">
                  {{userImage.width}}x{{userImage.height}}   {{userImage.fileSizeStr}}
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <div class="detail-text">
                <span class="material-icons">camera</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="detail-text">
                  {{userImage.metaData.EquipMake}} {{userImage.metaData.EquipModel}}
                </div>
              </div>
              <div class="row">
                <div class="detail-text">
                  ƒ/{{userImage.metaData.ExifFNumber}}   {{userImage.metaData.ExifExposureTime}}   {{userImage.metaData.ExifFocalLength}}mm   ISO{{userImage.metaData.ExifISOSpeed}}
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <div class="detail-text">
                <span class="material-icons">location_on</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="detail-text">
                  {{userImage.metaData.GpsLatitude}} {{userImage.metaData.GpsLatitudeRef}}, {{userImage.metaData.GpsLongitude}} {{userImage.metaData.GpsLongitudeRef}}
                </div>
                <br />
                <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="mapType" [zoom]="zoomLevel">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-12  position-static p-4 pl-md-0">
      <div class="card-columns">
        <app-ai-object-details [objects]="userImage.aiObjectsTags.Labels"></app-ai-object-details>

        <div *ngFor="let obj of userImage.aiFacialTags.FaceDetails">
          <app-ai-facial-details [aiFacial]="obj" [s3Path]="userImage.s3ThumbPath"></app-ai-facial-details>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let text of userImage.aiTextInImageTags.TextDetections">
    <div *ngIf="text.Type.Value == 'LINE'">
      <app-ai-text-details [aiText]="text" [s3Path]="userImage.s3ThumbPath"></app-ai-text-details>
    </div>
  </div>
