<p>dashboard works!</p>
<p>Hello {{ userName | async }}</p>
<p>{{userId}}</p>


<div class="card">
  <div class="card-title">Upload File</div>

  <div class="card-body">
    <ngb-progressbar type="info" [value]="progress" [striped]="true" [showValue]="true"></ngb-progressbar>

    <input type="file" (change)="onFileSelected($event)">
    <div class="card-actions">
      <button type="button" (click)="onUpload()">UPLOAD</button>
    </div>
  </div>
</div>

<div class="item-wrapper">
  <div class="item" *ngFor="let img of userImages">
    <div *ngIf="isPortrait(img)">
        <a href="/image/{{img.id}}">
          <img class="usr-img-dash-portrait rounded" src="{{img.s3ThumbPath}}" />
        </a>
    </div>
    <div *ngIf="!isPortrait(img)">
        <a href="/image/{{img.id}}">
          <img class="usr-img-dash-landscape rounded" src="{{img.s3ThumbPath}}" />
        </a>
    </div>

  </div>
</div>
