.item-wrapper {
  float: left;
  width: 90%;
}

.item {
  background-color: transparent;
  margin: 4px;
  display: inline-block;
}

.usr-img-dash-portrait {
  height: 180px;
}

.usr-img-dash-landscape {
  width: 320px;
  height: 180px;
}
