<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p><strong>User: </strong> {{ userName | async }}</p>
        <p><strong>User ID: </strong>{{userId}}</p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Upload File</div>
            <ngb-progressbar type="info" [value]="progress" [striped]="true" [showValue]="true"></ngb-progressbar>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="item-wrapper">
    <div class="item" *ngFor="let img of userImages">
      <div *ngIf="isPortrait(img)">
        <a href="/image/{{img.id}}">
          <img class="usr-img-dash-portrait rounded" src="{{img.s3ThumbPath}}" />
        </a>
      </div>
      <div *ngIf="!isPortrait(img)">
        <a href="/image/{{img.id}}">
          <img class="usr-img-dash-landscape rounded" src="{{img.s3ThumbPath}}" />
        </a>
      </div>

    </div>
  </div>
</div>
