<body>
  <app-nav-menu></app-nav-menu>
  <div class="container-fluid">
    <router-outlet></router-outlet>

    <footer>
      <div class="row my-5 justify-content-center py-3">
        <div class="col-11">
          <div class="row">
            <div class="col-xl-8 col-md-4 col-sm-4 col-auto">
              <small class="rights"><span>&#174;</span> rico.ai All Rights Reserved.</small>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
              rico.ai <a href="https://www.linkedin.com/in/ecastelo/" target="_blank"><i class="bi bi-linkedin" style="padding-left:10px;"></i></a>   <a href="https://www.github.com/ricoai" target="_blank"><i class="bi bi-github" style="padding-left:10px;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>

