.usr-img-details {
  max-width: 100%;
}

.detail-text {
  font-size: 10px;
  font-family: Roboto;
  color: darkgrey;
}

.ai-detail-text {
  font-size: 12px;
  font-family: Roboto;
  color: darkgrey;
}

.ai-title-text {
  font-family: Roboto;
  color: slategrey;
}

canvas {
  background-color: grey;
  width: 100%;
  height: auto;
}


.top-buffer {
  margin-top: 20px;
}

.bg-gray {
  background-color: #ebf0f9;
}

.rounded {
  border-radius: .25rem !important
}
