<div class="row">
  <div class="col-md-4">
      <canvas #boundingLayer id="boundingLayer"></canvas>
    </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">AI [Text Detection]</h5>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="ai-detail-text">
            {{aiText.DetectedText}}
          </div>
          <div class="ai-detail-text">
            <span class="badge badge-info badge-pill">{{aiText.Confidence | number}}%</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
